<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
        <link rel="stylesheet" href="../static/css/font.css">
        <link rel="stylesheet" href="../static/css/xadmin.css">
        <script src="../static/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="../static/js/xadmin.js"></script>

        <meta charset="UTF-8" />
        <title>登陆成功</title>
    </head>
    <body class="login-bg">
        <div class="index layui-anim layui-anim-up">
            <div class="message">通讯录管理系统</div>
            <div id="darkbannerwrap"></div>
        </div>
        <div class="left-nav">
            <div id="side-nav">
                <ul id="nav">
                    <li>
                        <a href="javascript:;">
                            <i class="iconfont">&#xe6b8;</i>
                            <cite>通讯录管理</cite>
                            <i class="iconfont nav_right">&#xe697;</i>
                        </a>
                        <a href="javascript:;">
                            <i class="iconfont">&#xe6b8;</i>
                            <cite>查询联系人</cite>
                            <i class="iconfont nav_right">&#xe697;</i>
                        </a>
                        <a href="javascript:;">
                            <i class="iconfont">&#xe6b8;</i>
                            <cite>新增联系人</cite>
                            <i class="iconfont nav_right">&#xe697;</i>
                        </a>
                        <a href="javascript:;">
                            <i class="iconfont">&#xe6b8;</i>
                            <cite>删除联系人</cite>
                            <i class="iconfont nav_right">&#xe697;</i>
                        </a>
                        <a href="javascript:;">
                            <i class="iconfont">&#xe6b8;</i>
                            <cite>修改联系人信息</cite>
                            <i class="iconfont nav_right">&#xe697;</i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    <div class="page-content">
        <div class="layui-tab tab" lay-filter="xbs_tab" lay-allowclose="false">
            <ul class="layui-tab-title">
                <li class="home"><i class="layui-icon">&#xe68e;</i>我的桌面</li>
            </ul>
        </div>
    </div>


    </body>
</html>